* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

main  {
  background-color: aqua; 

  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row
}

header {
  background-color: grey;
  width: 50%;
  padding: 10px;
  margin: 5px;
}

form {
  background-color: green;
  width: 50%;
  padding: 10px;
  margin: 5px;
}

